

.global-container hr {
  margin-top: 5px;
  width: 100%;
  color: rgba(115, 115, 115, 0.277);
}

.global-container .diva {
  max-width: 1300px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.global-container .gcsection1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
}

.global-container .gcsection1 button {
  padding: 10px;
  color: #1c5df6;
  border-color: #1c5df6;
  background: transparent;
  border-radius: 10px;

  font-weight: 500;

  line-height: 12px;
  transition: all 0.2s ease;
}

.global-container .gcsection1 button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.global-container .gcsection1 button .icon {
  font-size: 1.3rem;
}

.global-container .gcsection1 p {
  margin-top: 5px;
  margin-bottom: 10px;

  color: rgb(89, 89, 89);
}

.global-container .section2 {
  padding: 20px;
  position: relative;

  width: 1300px;
  margin: auto;
}

.global-container .section2 input {
  height: 40px;
  width: 100%;
  max-width: 450px;

  padding: 0 10px 0 35px; /* Top/Bottom 0, Right 35px for icon, Left 10px for text */
  line-height: 40px; /* Helps center text vertically */

  border-radius: 5px;
  border-color: rgba(147, 147, 147, 0.2);

  outline-color: #0e33c6;
  margin-bottom: 15px;
}

.global-container .section2 .input-icon-right {
  position: absolute;
  left: 30px;
  top: 44%;
  transform: translateY(-50%);
  color: #535353c4;

  font-size: 1.2rem;
}

.global-container .section3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  margin-top: -20px;

  /* border: 1px solid red; */
}

.global-container .section3 button {
  color: #ffffff;
  background-color: #1c5df6;

  /* min-height: 60px;
  width: 100%; */

  padding: 13px;
  border-radius: 10px;

  font-weight: 600;
  border: none;
  outline: none;

  transition: background-color 0.2s ease;
}

.global-container .section3 button:hover {
  background-color: #1649c4;
  cursor: pointer;
}

.diva2 {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.global-container .section3a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;

  gap: 100px;
  padding: 15px;
  padding-top: 25px;
  margin: 0px 20px 0 20px;

  background-color: #fff;
  box-shadow: 0px 0px 2px 0px grey;
  border-radius: 10px;
}

.global-container .section3a ul {
  list-style: none;
}


/* Responsive for mobile */
@media (max-width: 768px) {
  .global-container .section3 {
    flex-direction: column;
    gap: 10px;
  }

  .global-container .section2 {
    width: 95vw;
    margin: auto;
  }
}

.global-container .section4 {
  text-align: center;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;

  background-color: #fff;
  /* border: 1px solid grey; */
  box-shadow: 0px 0px 2px 0px grey;
  border-radius: 10px;
  margin: 0px 20px 0 20px;
}

.global-container .section4 div {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgb(237, 237, 237);

  position: relative;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.global-container .section4 div:hover {
  background-color: rgb(210, 210, 210);
}

.global-container .section4 span {
  font-size: 3rem;
  color: rgb(161, 161, 161);
  position: absolute;

  top: 0%;
  left: 25%;
}

.global-container .section4 h3 {
  font-weight: 500;
}

.global-container .section4 p {
  font-size: 0.9rem;
}

.global-container .section4 button {
  color: #ffffff;
  background-color: #1c5df6;

  /* min-height: 60px;
  width: 100%; */

  padding: 13px;
  border-radius: 10px;

  font-weight: 600;
  border: none;
  outline: none;

  transition: background-color 0.2s ease;
}

.global-container .section4 button:hover {
  background-color: #1649c4;
  cursor: pointer;
}
