/* SelectPartModal.css */
.select-part-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content h3 {
  margin-bottom: 20px;
}

.part-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* padding: 0 20px; */
}

.part-item button {
  color: white;
  background-color: rgb(28, 28, 186);
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.part-item button:hover {
  cursor: pointer;
  background-color: rgb(37, 37, 240);
  transform: scale(1.05);
}

.modal-content .aPPCloseButton {
  width: 100%;
  margin: 20px 0 5px 0;
  text-align: center;
  color: white;
  background-color: rgb(224, 10, 56);
  font-size: 1.3rem;
  font-weight: 600px;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.modal-content .aPPCloseButton:hover {
  cursor: pointer;
  background-color: rgb(199, 0, 43);

}
