.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 1300px;
  margin: auto;

  /* box-shadow: 0px 0px 4px rgb(185, 185, 185); */

  padding: 0 12px;
}

.header-container h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.header-container div img {
  height: 80px;
}

.header-container-div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-container-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  color: #2f2f2f;
}

.header-container-div2 button {
  padding: 10px;
  color: #1c5df6;
  border-color: #1c5df6;
  background: transparent;
  border-radius: 10px;

  line-height: 12px;
  transition: all 0.2s ease;
}

.header-container-div2 button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.header-container-div2 .logout-icon {
  font-size: 15px;
}

.header-container-div2 button span {
  font-weight: bold;
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .header-container{
    font-size: 0.7rem;
  }

  .header-container h3 {
  font-size: 0.8rem;
  font-weight: 600;
  }

  .header-container div img {
  height: 50px;
  }

  .header-container-div2 button {
  padding: 5px;

  font-size: 0.7rem;
}
}
