.loader-container-0{
    position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.662);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.loader-container {
  --color: #a5a5b0;
  --size: 70px;
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.loader-container span {
  width: 100%;
  height: 100%;
  background-color: var(--color);
  animation: keyframes-blink 0.6s alternate infinite linear;
}

.loader-container span:nth-child(1) {
  animation-delay: 0ms;
}

.loader-container span:nth-child(2) {
  animation-delay: 200ms;
}

.loader-container span:nth-child(3) {
  animation-delay: 300ms;
}

.loader-container span:nth-child(4) {
  animation-delay: 400ms;
}

.loader-container span:nth-child(5) {
  animation-delay: 500ms;
}

.loader-container span:nth-child(6) {
  animation-delay: 600ms;
}

@keyframes keyframes-blink {
  0% {
    opacity: 0.3;
    transform: scale(0.5) rotate(5deg);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}
