.projectModel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.projectModel-container {
  width: 100%;
  margin: 20px;
  max-width: 500px;
  background-color: #fff;
  padding: 35px 25px;
  border-radius: 5px;
}

.projectModel-container .heading {
  position: relative;
}

.projectModel-container .heading .icon {
  position: absolute;
  top: 7px;
  right: 13px;
  color: rgb(86, 86, 86);
  cursor: pointer;
}

.projectModel-container h3 {
  font-weight: 500;
  text-align: center;
}

.projectModel-container hr {
  margin: 20px 0 20px 0;
  width: 100%;
  color: rgba(115, 115, 115, 0.277);
}

.projectModel-container label {
  display: block;
  font-size: 0.88rem;
}

.projectModel-container .input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.projectModel-container input {
  height: 40px;
  width: 100%;

  padding: 0 10px 0 10px; /* Top/Bottom 0, Right 35px for icon, Left 10px for text */
  line-height: 40px; /* Helps center text vertically */

  border-radius: 5px;
  border-color: rgba(147, 147, 147, 0.2);

  outline-color: #0e33c6;
  margin-bottom: 15px;
}

.projectModel-container .description {
  height: 80px;
  width: 100%;
  padding: 10px;
  resize: none;
  font-family: inherit;
  font-size: 0.88rem;
  border-radius: 5px;
  border-color: rgba(147, 147, 147, 0.2);
  outline-color: #0e33c6;
  text-align: left;
}

.projectModel-container button {
  color: #ffffff;
  background-color: #1c5df6;

  height: 40px;
  width: 100%;
  border-radius: 10px;

  margin-top: 10px;
  /* margin-bottom: 10px; */

  font-weight: 600;
  border: none;
  outline: none;

  transition: background-color 0.2s ease;
}

.projectModel-container button:hover {
  background-color: #1649c4;
  cursor: pointer;
}
